section.container {
    grid-row: end;

    background: green;
    
    position: relative;

    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    background: pink;

    ul {
        visibility: collapse;
        background: purple;

        li {
            background: green;
        }


        &.active {
            background: red;


            animation: 0.5s test forwards;
        }


        @keyframes test {
            0% {
                visibility: collapse;
                opacity: 0;
            }
            100% {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    button {
        background: red;
        padding: 1rem;
        border: unset;
    }
}